@model WendhelAton.FAQ.Web.ViewModels.IndexViewModel
@using WendhelAton.FAQ.Web.Infrastructure.Security;
@using WendhelAton.FAQ.Web.Infrastructure.Data.Models


@{
    Layout = "~/Views/Shared/_LogoWithWidgets.cshtml";
}

Welcome @WebUser.FullName


<h1>Announcements</h1>
<section class="posts-con">
    @{
        foreach (Thread thread in Model.Threads)
        {
            <article>
                <div class="info">
                    <img class="card-img-top" src="~/threads/@thread.Id/dipper.png" alt="Card image cap" style="max-width:750px;max-height:300px;">
                    <h3>@thread.Title</h3>
                    <p class="info-line"><span class="time">@thread.UpdatedAt.ToString("dddd, dd MMMM yyyy hh:mm tt")</span></p>
                    <p>@thread.Description</p>
                    <p><a href="~/posts/@thread.Id" class="btn btn-primary">Read More &rarr;</a></p>
                </div>
            </article>
        }
    }
</section>
<!-- Pagination -->
<ul class="pagination justify-content-center mb-4">
    <li class="page-item">
        <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
        <a class="page-link" href="#">Newer &rarr;</a>
    </li>
</ul>


